
.DS_Store

.idea/

outputs/

src/cnn_edge_extractor/__pycache__/

src/cnn_edge_extractor/data/__pycache__/

src/cnn_edge_extractor/training/__pycache__/

src/cnn_edge_extractor/utils/__pycache__/

src/cnn_edge_extractor/models/__pycache__/
